.about {
    @include background(url("../images/bckgrnd_about.png"), repeat, auto);
    @include border_bottom();
    @include border_top();

    position: relative;
    overflow: hidden;

    &_content {
        @extend %site_width;

        text-align: center;
        padding: 100px 0;
    }
    
    .title_top {
        @include font(180px, 'Bazar', normal, $text_color);

        position: relative;
        z-index: 3;
        margin-bottom: 20px;
    }

    .title_middle {
        @include font(180px, 'Bazar', normal);

        position: absolute;
        top: 3px;
        left: 3px;
        color: #ffffff;
        z-index: -1;
        width: 100%;
    }
    
    .title_bottom {
        @include font(180px, 'Bazar', normal, $text_color);

        position: absolute;
        top: 6px;
        left: 6px;
        z-index: -2;
        width: 100%;
    }
    
    .subtitle_xxx {
        @include font(44px, 'RobotoSlab-Regular', normal, $text_color);

        position: relative;
        display: inline-block;
        
        &::before {
            content: "";
            position: absolute;
            right: 120%;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 4px;
            background-color: $text_color;
        }

        &::after {
            content: "";
            position: absolute;
            left: 120%;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 4px;
            background-color: $text_color;
        }

    }
    
    .subtitle {
        @include font(32px, 'Oswald-Regular', normal, $text_color);

        margin-bottom: 70px;
    }

    .info {

        &_list {
            display: flex;
        }

        &_item {
            padding: 5px;
            display: flex;
            flex-direction: column;
            width: 25%;
            align-items: center;

            &_img {
                @include background(url("../images/sprite1.png"));

                width: 68.181818181818%;
                padding-bottom: 68.181818181818%;
                margin-bottom: 40px;
                transition: all 0.5s;
                background-position-x: 33.3%;

                &:hover {
                    transform: scale(1.1);
                }

                &_music {
                    background-position-x: 66.6%;
                }

                &_clothes {
                    background-position-x: 100%;
                }

                &_food {
                    background-position-x: 0%;
                }

            }

            &_title {
                @include font(54px, 'Bazar', normal, $text_color);

                margin-bottom: 35px;
            }
            
            &_subtitle {
                @include font(28px, 'RobotoSlab-Regular', normal, $text_color);

                margin-bottom: 70px;
                position: relative;

                &::before {
                    content: "";
                    width: 50%;
                    height: 4px;
                    position: absolute;
                    bottom: -100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $text_color;
                }
            }
            
            &_description {
                @include font(28px, 'RobotoSlab-Regular', 50px, $text_color);

                text-align: left;
                padding: 10px;
            }

        }

    }

}