.myblog {
  @include border_top;
  @include border_bottom;

  background: url("../images/bckgrnd_blog.png") repeat;
  position: relative;

  &_content {
    @extend %site_width;

    padding-bottom: 110px;
  }

  &_content_heading {
    @include flex(column, nowrap, center);

    align-items: center;
    margin-bottom: 65px;

    .title {
      @include font(180px, 'Bazar', normal, $text_color);

      padding-top: 100px;
      position: relative;
      z-index: 1;
    }

    .title_middle {
        @include font(180px, 'Bazar', normal);

        position: absolute;
        top: 103px;
        left: 3px;
        color: #ffffff;
        z-index: -1;
        width: 100%;
    }
    
    .title_bottom {
        @include font(180px, 'Bazar', normal, $text_color);

        position: absolute;
        top: 106px;
        left: 6px;
        z-index: -2;
        width: 100%;
    }

    .subtitle_xxx {
      @include font(34px, 'RobotoSlab-Regular', normal, #393a3a);

      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 120%;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 4px;
        background-color: $text_color;
      }

      &::after {
        content: "";
        position: absolute;
        left: 120%;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 4px;
        background-color: $text_color;
      }
    }

    .subtitle {
      @include font(32px, 'Oswald-Regular', normal, #38353e);

    }
  }

  &_articles_list {
    @include flex(column, nowrap, center);

    align-items: flex-start;
    margin-bottom: 35px;
  }

  &_articles_item {
    @include flex(row, nowrap, center);

    align-items: flex-start;
    width: 100%;
    margin-bottom: 2.8%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .myblog_articles_image {
    width: 50%;
  }

  .myblog_articles_description {

    width: 100%;
    padding: 8px 15px;

    & .myblog_articles_title {
      @include font(44px, 'RobotoSlab-Regular', normal, $text_color);

      letter-spacing: 2px;
      margin-bottom: 10px;
    }

    & .myblog_articles_info {
      @include flex(row, nowrap, space-between);

      position: relative;

      &:after {
        position: absolute;
        bottom: -80%;
        content: '';
        width: 7%;
        border-bottom: 3px solid $text_color;
      }

      &_nav {
        @include flex(row, nowrap, center);

        align-items: center;
      }

      & .myblog_articles_info_link {
        @include font(20px, 'Oswald-Bold', normal, $text_color);

      }

      & .myblog_articles_responds {
        @include font(20px, 'Oswald-Bold', normal, $text_color);

      }
    }

    & .myblog_articles_text {
      @include font(32px, 'RobotoSlab-Regular', 57px, $text_color);

      padding-top: 43px;

      & .myblog_article_more_link {
        @include font(22px, 'RobotoSlab-Bold', normal, $text_color);

      }
    }
  }

  .blog_show_link{
    @include font(28px, 'Oswald-Bold', normal, $text_color);
    @include flex(row, nowrap, center);

    position: relative;
    align-items: center;

    &:before{
      content: '';
      position: absolute;
      top: -30%;
      width: 6%;
      border-top: 3px solid $text_color;
    }

    &:hover {
          text-decoration: none;
      }

    &:hover::after {
        content: "";
        width: 6%;
        height: 4px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $text_color;
    }
  }
}
