.footer {
  @include border_top;
  @include border_bottom;

  background: url("../images/bckgrnd_footer.png") repeat;
  position: relative;

  &_content {
    @extend %site_width;

    padding-bottom: 110px;
  }

  &_content_heading {
    @include flex(column, nowrap, center);

    align-items: center;
    margin-bottom: 65px;


    .title {
      @include font(180px, 'Bazar', normal, $footer_text);

      padding-top: 100px;
      position: relative;
      z-index: 1;
    }

    .title_middle {
        @include font(180px, 'Bazar', normal);

        position: absolute;
        top: 103px;
        left: 4px;
        color: black;
        z-index: -1;
        width: 100%;
    }
    
    .title_bottom {
        @include font(180px, 'Bazar', normal, $text_color);

        position: absolute;
        top: 106px;
        left: 6px;
        z-index: -2;
        width: 100%;
        color: $footer_text;
    }

    .subtitle_xxx {
      @include font(34px, 'RobotoSlab-Regular', normal, $footer_text);

      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 120%;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 4px;
        background-color: $footer_text;
      }

      &::after {
        content: "";
        position: absolute;
        left: 120%;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 4px;
        background-color: $footer_text
      }
    }

    .subtitle {
      @include font(32px, 'Oswald-Regular', normal, $footer_text);

    }
  }

  .footer_contact_form_wrapper{
    margin: 0 auto;

    width: 960px;
    margin-bottom: 75px;

    & .contact_form{
      @include flex(column, nowrap, center);

      align-items: center;
      width: 100%;


      &_field{
        @include font(32px, 'RobotoSlab-Regular', normal, $form_placeholder);

        width: 100%;
        height: 75px;
        border-radius: 6px;
        border: 0;
        padding-left: 10px;
        margin-bottom: 20px;
      }

      #message_field{
        height: 325px;
      }

      &_submit{
        @include font(32px, 'RobotoSlab-Bold', normal, #383a3c);

        border: none;
        background: #fbf9f7;
        align-self: self-start;
        border-radius: 6px;
        padding: 18px 33px;
        cursor:pointer;


      }
    }
  }

  .social_list_wrapper{
    @include flex(column, nowrap, center);

    align-items: center;


    & .social_list_title{
      @include font(48px, 'Bazar', normal, $footer_text);

      text-transform: uppercase;
      font-weight: 400;
      position: relative;
      margin-bottom: 50px;

      &:after{
        content: '';
        position:absolute;
        bottom: -35%;
        left: 31%;
        width: 35%;
        border-top: 3px solid $footer_text;
      }
    }

    & .social_list{
      @include flex(row, nowrap, center);

      align-items: center;




      & .social_item{
        margin-right: 30px;


        &:last-child{
          margin-right: 0;
        }
      }

      & .social_link{
        display: inline-block;
        width: 160px;
        height: 160px;
        background: url("../images/social.png") repeat-x;

        &.facebook {
          background-position: top 0 left 25%;
        }
        &.google {
          background-position: top 0 left 50%;
        }
        &.pin {
          background-position: top 0 left 75%;
        }
        &.in {
          background-position: top 0 right 0;
        }
        &:hover{
          transform: scale(.8);
          transition: .3s ease-out;
        }
      }
    }
  }
}