
@font-face {
    font-family: 'Bazar';
    src: url('Bazar.eot');
    src: url('../fonts/Bazar.woff2') format('woff2'),
         url('../fonts/Bazar.woff') format('woff'),
         url('../fonts/Bazar.ttf') format('truetype'),
         url('../fonts/Bazar.svg#Bazar') format('svg'),
         url('../fonts/Bazar.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
         url('../fonts/Oswald-Bold.woff') format('woff'),
         url('../fonts/Oswald-Bold.ttf') format('truetype'),
         url('../fonts/Oswald-Bold.svg#Oswald-Bold') format('svg'),
         url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
         url('../fonts/Oswald-Regular.woff') format('woff'),
         url('../fonts/Oswald-Regular.ttf') format('truetype'),
         url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg'),
         url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Bold.woff') format('woff'),
         url('../fonts/RobotoSlab-Bold.ttf') format('truetype'),
         url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg'),
         url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
         url('../fonts/RobotoSlab-Regular.woff') format('woff'),
         url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
         url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
         url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SeasideResortNF';
    src: url('../fonts/SeasideResortNF.eot');
    src: url('../fonts/SeasideResortNF.woff2') format('woff2'),
         url('../fonts/SeasideResortNF.woff') format('woff'),
         url('../fonts/SeasideResortNF.ttf') format('truetype'),
         url('../fonts/SeasideResortNF.svg#SeasideResortNF') format('svg'),
         url('../fonts/SeasideResortNF.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }

