.header {
	@include border_bottom ();

	background: url("../images/bg.jpg");
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	position: relative;
	z-index: 9;
}

.nav {
	@extend %site_width;

	&_list {
		display: flex;
		justify-content: space-between;
		padding:100px 5px;
	}

	.logo_wrapper{
		position: absolute;
		top: 5px;
		z-index: 99;
		width: 100%;
		text-align: center;
	}

	&_logo {
		display: inline-block;
	}

	&_link{
		@include font(54px, 'Bazar', 1, #f9ebd9);

		text-transform: uppercase;
		text-align: center;
		padding: 0 5px;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}

	&_item.logo {
		position: relative;
		margin-top: -100px;
		width: 30%;
		height: 105px;
	}
}

@media only screen and (max-width: 1350px) {
	.nav_link {
		font-size: 34px;
	}

	.slider_slogo { 
		font-size: 34px;
	}
}