.portfolio {
    @include background(url("../images/bckgrnd_portfolio.png"), repeat, auto);
    @include border_bottom();
    @include border_top();

    position: relative;
    overflow: hidden;

    &_content {
        @extend %site_width;

        text-align: center;
        padding: 100px 0;
    }
        
    .title_top {
        @include font(180px, 'Bazar', normal, $text_color);

        position: relative;
        z-index: 3;
        margin-bottom: 20px;
    }
    
    .title_middle {
        @include font(180px, 'Bazar', normal);

        position: absolute;
        top: 3px;
        left: 3px;
        color: #ffffff;
        z-index: -1;
        width: 100%;
    }
    
    .title_bottom {
        @include font(180px, 'Bazar', normal, $text_color);
        
        position: absolute;
        top: 6px;
        left: 6px;
        z-index: -2;
        width: 100%;
    }
    
    .subtitle_xxx {
        @include font(44px, 'RobotoSlab-Regular', normal, $text_color);

        position: relative;
        display: inline-block;
        
        &::before {
            content: "";
            position: absolute;
            right: 120%;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 4px;
            background-color: $text_color;
        }

        &::after {
            content: "";
            position: absolute;
            left: 120%;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 4px;
            background-color: $text_color;
        }

    }
    
    .subtitle {
        @include font(32px, 'Oswald-Regular', normal, $text_color);

        margin-bottom: 70px;
    }

    .filter {
        margin-bottom: 35px;
        text-align: left;

        &_title {
            @include font(32px, 'RobotoSlab-Bold', normal, $text_color);
            
            display: inline-block;
            margin-bottom: 20px;
            padding-left: 10px;
        }
        
        &_list {
            display: inline-block;
            font-size: 0;
        }
        
        &_item {
            display: inline-block;
            margin-bottom: 20px;
        }
        
        &_link {
            @include font(24px, 'RobotoSlab-Bold', 48px, $text_color);
            
            display: inline-block;
            margin-left: 55px;
            padding-left: 20px;
            padding-right: 15px;
            border-radius: 0 5px 5px 0;
            background-color:  #fbfaf6;
            position: relative;
            
            &::before {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                right: 100%;
                border: 24px solid transparent;
                border-right: 24px solid #fbfaf6;
            }
            
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: #959ca3;
                border-radius: 50%;
            }
            
        }

    }
    
    .category {
        margin-bottom: 60px;

        &_list {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        
        &_item {
            display: inline-block;
            width: 23.78378378378%;
            padding: 10px;
            margin-bottom: 40px;
            background-color: #fbfaf6;
            border-radius: 5px;
        }

        &_link {
            @include font(24px, 'RobotoSlab-Bold', normal, $text_color);
        }
        
        &_img {
            width: 100%;
            padding-bottom: 72.2727272727%;
            background-color: #e3dfd7;
            margin-bottom: 60px;
        }
        
        &_description {
            position: relative;
            
            &_ico {
                width: 80px;
                height: 80px;
                position: absolute;
                top: -60px;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color:  #fbfaf6;
            }
            
            .galleries {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);

                background-position: -7% 60%;
            }
            
            .vimeo {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: 17% 20%;
            }
            
            .cameras {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: 42% 30%;
            }
            
            .project {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: 71% 30%;
            }
            
            .video {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: 17% 20%;
            }
            
            .external {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: 96% 30%;
            }
            
            .image {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: -7% 60%;
            }
            
            .tempest {
                @include background(url("../images/sprite2_mod.png"), no-repeat, 450%);
                
                background-position: 42% 30%;
            }

        }

        &_title {
            margin-bottom: 30px;
        }
    }

    .browse_all_link {
        @include font(28px, 'Oswald-Bold', normal, $text_color);

        position: relative;

        &::before {
            content: "";
            width: 60%;
            height: 4px;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $text_color;
        }

        &:hover {
            text-decoration: none;
        }

        &:hover::after {
            content: "";
            width: 60%;
            height: 4px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $text_color;
        }
    }
    
}