:root {
	font-size: 10px;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

ul, li {
	list-style: none;
}

img {
	max-width:100%;
}

* {
	box-sizing: border-box;
}