@font-face {
  font-family: 'Bazar';
  src: url("Bazar.eot");
  src: url("../fonts/Bazar.woff2") format("woff2"), url("../fonts/Bazar.woff") format("woff"), url("../fonts/Bazar.ttf") format("truetype"), url("../fonts/Bazar.svg#Bazar") format("svg"), url("../fonts/Bazar.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url("../fonts/Oswald-Bold.eot");
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype"), url("../fonts/Oswald-Bold.svg#Oswald-Bold") format("svg"), url("../fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url("../fonts/Oswald-Regular.eot");
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/Oswald-Regular.svg#Oswald-Regular") format("svg"), url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.eot");
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.ttf") format("truetype"), url("../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold") format("svg"), url("../fonts/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.eot");
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.ttf") format("truetype"), url("../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg"), url("../fonts/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SeasideResortNF';
  src: url("../fonts/SeasideResortNF.eot");
  src: url("../fonts/SeasideResortNF.woff2") format("woff2"), url("../fonts/SeasideResortNF.woff") format("woff"), url("../fonts/SeasideResortNF.ttf") format("truetype"), url("../fonts/SeasideResortNF.svg#SeasideResortNF") format("svg"), url("../fonts/SeasideResortNF.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 10px;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.nav, .slider_content, .about_content, .portfolio_content, .myblog_content, .footer_content {
  width: 100%;
  max-width: 1850px;
  min-width: 1024px;
  margin: 0 auto;
}

.header {
  background: url("../images/bg.jpg");
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 9;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  padding: 100px 5px;
}

.nav .logo_wrapper {
  position: absolute;
  top: 5px;
  z-index: 99;
  width: 100%;
  text-align: center;
}

.nav_logo {
  display: inline-block;
}

.nav_link {
  font-size: 5.4rem;
  font-family: "Bazar";
  line-height: 1;
  color: #f9ebd9;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
}

.nav_link:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav_item.logo {
  position: relative;
  margin-top: -100px;
  width: 30%;
  height: 105px;
}

@media only screen and (max-width: 1350px) {
  .nav_link {
    font-size: 34px;
  }
  .slider_slogo {
    font-size: 34px;
  }
}

.slider {
  background: url("../images/bg.jpg");
  position: relative;
  overflow-x: hidden;
}

.slider::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.slider::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.slider_content {
  padding: 100px 5px;
  text-align: center;
}

.slider_title {
  text-align: center;
  margin-bottom: 80px;
}

.slider_slogo_wrapper {
  margin-bottom: 80px;
  display: inline-block;
  position: relative;
}

.slider_slogo_wrapper:before {
  content: "";
  position: absolute;
  height: 102px;
  width: 294px;
  top: 0;
  left: -260px;
  margin-top: 20px;
  background: url(../images/slider.png) no-repeat;
  background-position: top 0 left 5px;
}

.slider_slogo_wrapper:after {
  content: "";
  position: absolute;
  height: 102px;
  width: 294px;
  top: 0;
  right: -260px;
  margin-top: 20px;
  background: url("../images/slider.png") no-repeat;
  background-position: top 0 right 5px;
}

.slider_slogo {
  font-size: 4.4rem;
  font-family: "Bazar";
  line-height: 1;
  color: #4b4e4c;
  text-transform: uppercase;
  display: inline-block;
  padding: 25px 125px;
  background: #fff1ce;
  position: relative;
  z-index: 999;
}

.slider_slogo:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  height: 1px;
  background: url(../images/bg_slider.png);
}

.slider_slogo:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  height: 1px;
  background: url(../images/bg_slider.png);
}

.slider_list {
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 44px;
}

.slider_item {
  border: 20px solid #fdf9f6;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.slider_item:after {
  content: "";
  display: block;
  padding-bottom: 45%;
}

.slider_images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slider_info {
  font-size: 4.4rem;
  font-family: "Bazar";
  line-height: 1;
  color: #383a3c;
  background: #fbfaf6;
  padding: 24px 5px 4px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.slider_footer {
  text-transform: uppercase;
}

.slider_footer_main {
  font-size: 6.4rem;
  font-family: "Bazar";
  line-height: 1;
  color: #f7ebd8;
  display: block;
  width: 100%;
  padding-bottom: 15px;
}

.slider_footer_content {
  font-size: 5.3rem;
  font-family: "Bazar";
  line-height: 1;
  color: #f7ebd8;
}

.slider .slick-prev,
.slider .slick-next,
.slider .slick-prev:hover,
.slider .slick-prev:focus,
.slider .slick-next:hover,
.slider .slick-next:focus {
  background: url("../images/slider_arow.png") no-repeat center;
  width: 50px;
  height: 118px;
}

.slider .slick-prev:before,
.slider .slick-next:before,
.slider .slick-prev:hover,
.slider .slick-prev:focus,
.slider .slick-next:hover,
.slider .slick-next:focus {
  font-size: 0;
  opacity: 0.5;
}

.slider .slick-prev,
.slider .slick-prev:hover,
.slider .slick-prev:focus {
  background-position: top 0 right 0;
  left: 19px;
  z-index: 999;
}

.slider .slick-next,
.slider .slick-next:hover,
.slider .slick-next:focus {
  background-position: top 0 left 0;
  right: 19px;
  z-index: 999;
}

.about {
  background-image: url("../images/bckgrnd_about.png");
  background-repeat: repeat;
  background-size: auto;
  position: relative;
  overflow: hidden;
}

.about::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.about::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.about_content {
  text-align: center;
  padding: 100px 0;
}

.about .title_top {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}

.about .title_middle {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: black;
  position: absolute;
  top: 3px;
  left: 3px;
  color: #ffffff;
  z-index: -1;
  width: 100%;
}

.about .title_bottom {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: -2;
  width: 100%;
}

.about .subtitle_xxx {
  font-size: 4.4rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #383a3c;
  position: relative;
  display: inline-block;
}

.about .subtitle_xxx::before {
  content: "";
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #383a3c;
}

.about .subtitle_xxx::after {
  content: "";
  position: absolute;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #383a3c;
}

.about .subtitle {
  font-size: 3.2rem;
  font-family: "Oswald-Regular";
  line-height: normal;
  color: #383a3c;
  margin-bottom: 70px;
}

.about .info_list {
  display: flex;
}

.about .info_item {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.about .info_item_img {
  background-image: url("../images/sprite1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 68.181818181818%;
  padding-bottom: 68.181818181818%;
  margin-bottom: 40px;
  transition: all 0.5s;
  background-position-x: 33.3%;
}

.about .info_item_img:hover {
  transform: scale(1.1);
}

.about .info_item_img_music {
  background-position-x: 66.6%;
}

.about .info_item_img_clothes {
  background-position-x: 100%;
}

.about .info_item_img_food {
  background-position-x: 0%;
}

.about .info_item_title {
  font-size: 5.4rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  margin-bottom: 35px;
}

.about .info_item_subtitle {
  font-size: 2.8rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #383a3c;
  margin-bottom: 70px;
  position: relative;
}

.about .info_item_subtitle::before {
  content: "";
  width: 50%;
  height: 4px;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #383a3c;
}

.about .info_item_description {
  font-size: 2.8rem;
  font-family: "RobotoSlab-Regular";
  line-height: 50px;
  color: #383a3c;
  text-align: left;
  padding: 10px;
}

.portfolio {
  background-image: url("../images/bckgrnd_portfolio.png");
  background-repeat: repeat;
  background-size: auto;
  position: relative;
  overflow: hidden;
}

.portfolio::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.portfolio::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.portfolio_content {
  text-align: center;
  padding: 100px 0;
}

.portfolio .title_top {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}

.portfolio .title_middle {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: black;
  position: absolute;
  top: 3px;
  left: 3px;
  color: #ffffff;
  z-index: -1;
  width: 100%;
}

.portfolio .title_bottom {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: -2;
  width: 100%;
}

.portfolio .subtitle_xxx {
  font-size: 4.4rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #383a3c;
  position: relative;
  display: inline-block;
}

.portfolio .subtitle_xxx::before {
  content: "";
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #383a3c;
}

.portfolio .subtitle_xxx::after {
  content: "";
  position: absolute;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #383a3c;
}

.portfolio .subtitle {
  font-size: 3.2rem;
  font-family: "Oswald-Regular";
  line-height: normal;
  color: #383a3c;
  margin-bottom: 70px;
}

.portfolio .filter {
  margin-bottom: 35px;
  text-align: left;
}

.portfolio .filter_title {
  font-size: 3.2rem;
  font-family: "RobotoSlab-Bold";
  line-height: normal;
  color: #383a3c;
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 10px;
}

.portfolio .filter_list {
  display: inline-block;
  font-size: 0;
}

.portfolio .filter_item {
  display: inline-block;
  margin-bottom: 20px;
}

.portfolio .filter_link {
  font-size: 2.4rem;
  font-family: "RobotoSlab-Bold";
  line-height: 48px;
  color: #383a3c;
  display: inline-block;
  margin-left: 55px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 0 5px 5px 0;
  background-color: #fbfaf6;
  position: relative;
}

.portfolio .filter_link::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 100%;
  border: 24px solid transparent;
  border-right: 24px solid #fbfaf6;
}

.portfolio .filter_link::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #959ca3;
  border-radius: 50%;
}

.portfolio .category {
  margin-bottom: 60px;
}

.portfolio .category_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.portfolio .category_item {
  display: inline-block;
  width: 23.78378378378%;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #fbfaf6;
  border-radius: 5px;
}

.portfolio .category_link {
  font-size: 2.4rem;
  font-family: "RobotoSlab-Bold";
  line-height: normal;
  color: #383a3c;
}

.portfolio .category_img {
  width: 100%;
  padding-bottom: 72.2727272727%;
  background-color: #e3dfd7;
  margin-bottom: 60px;
}

.portfolio .category_description {
  position: relative;
}

.portfolio .category_description_ico {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fbfaf6;
}

.portfolio .category_description .galleries {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: -7% 60%;
}

.portfolio .category_description .vimeo {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 17% 20%;
}

.portfolio .category_description .cameras {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 42% 30%;
}

.portfolio .category_description .project {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 71% 30%;
}

.portfolio .category_description .video {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 17% 20%;
}

.portfolio .category_description .external {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 96% 30%;
}

.portfolio .category_description .image {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: -7% 60%;
}

.portfolio .category_description .tempest {
  background-image: url("../images/sprite2_mod.png");
  background-repeat: no-repeat;
  background-size: 450%;
  background-position: 42% 30%;
}

.portfolio .category_title {
  margin-bottom: 30px;
}

.portfolio .browse_all_link {
  font-size: 2.8rem;
  font-family: "Oswald-Bold";
  line-height: normal;
  color: #383a3c;
  position: relative;
}

.portfolio .browse_all_link::before {
  content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #383a3c;
}

.portfolio .browse_all_link:hover {
  text-decoration: none;
}

.portfolio .browse_all_link:hover::after {
  content: "";
  width: 60%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #383a3c;
}

.myblog {
  background: url("../images/bckgrnd_blog.png") repeat;
  position: relative;
}

.myblog::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.myblog::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.myblog_content {
  padding-bottom: 110px;
}

.myblog_content_heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.myblog_content_heading .title {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.myblog_content_heading .title_middle {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: black;
  position: absolute;
  top: 103px;
  left: 3px;
  color: #ffffff;
  z-index: -1;
  width: 100%;
}

.myblog_content_heading .title_bottom {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  position: absolute;
  top: 106px;
  left: 6px;
  z-index: -2;
  width: 100%;
}

.myblog_content_heading .subtitle_xxx {
  font-size: 3.4rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #393a3a;
  position: relative;
}

.myblog_content_heading .subtitle_xxx::before {
  content: "";
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #383a3c;
}

.myblog_content_heading .subtitle_xxx::after {
  content: "";
  position: absolute;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #383a3c;
}

.myblog_content_heading .subtitle {
  font-size: 3.2rem;
  font-family: "Oswald-Regular";
  line-height: normal;
  color: #38353e;
}

.myblog_articles_list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 35px;
}

.myblog_articles_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2.8%;
}

.myblog_articles_item:last-child {
  margin-bottom: 0;
}

.myblog .myblog_articles_image {
  width: 50%;
}

.myblog .myblog_articles_description {
  width: 100%;
  padding: 8px 15px;
}

.myblog .myblog_articles_description .myblog_articles_title {
  font-size: 4.4rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #383a3c;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.myblog .myblog_articles_description .myblog_articles_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

.myblog .myblog_articles_description .myblog_articles_info:after {
  position: absolute;
  bottom: -80%;
  content: '';
  width: 7%;
  border-bottom: 3px solid #383a3c;
}

.myblog .myblog_articles_description .myblog_articles_info_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.myblog .myblog_articles_description .myblog_articles_info .myblog_articles_info_link {
  font-size: 2rem;
  font-family: "Oswald-Bold";
  line-height: normal;
  color: #383a3c;
}

.myblog .myblog_articles_description .myblog_articles_info .myblog_articles_responds {
  font-size: 2rem;
  font-family: "Oswald-Bold";
  line-height: normal;
  color: #383a3c;
}

.myblog .myblog_articles_description .myblog_articles_text {
  font-size: 3.2rem;
  font-family: "RobotoSlab-Regular";
  line-height: 57px;
  color: #383a3c;
  padding-top: 43px;
}

.myblog .myblog_articles_description .myblog_articles_text .myblog_article_more_link {
  font-size: 2.2rem;
  font-family: "RobotoSlab-Bold";
  line-height: normal;
  color: #383a3c;
}

.myblog .blog_show_link {
  font-size: 2.8rem;
  font-family: "Oswald-Bold";
  line-height: normal;
  color: #383a3c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  align-items: center;
}

.myblog .blog_show_link:before {
  content: '';
  position: absolute;
  top: -30%;
  width: 6%;
  border-top: 3px solid #383a3c;
}

.myblog .blog_show_link:hover {
  text-decoration: none;
}

.myblog .blog_show_link:hover::after {
  content: "";
  width: 6%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #383a3c;
}

.footer {
  background: url("../images/bckgrnd_footer.png") repeat;
  position: relative;
}

.footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.footer::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 22px;
  background: url(../images/dashed_section_line.png) repeat-x;
}

.footer_content {
  padding-bottom: 110px;
}

.footer_content_heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.footer_content_heading .title {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #f6edd8;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.footer_content_heading .title_middle {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: black;
  position: absolute;
  top: 103px;
  left: 4px;
  color: black;
  z-index: -1;
  width: 100%;
}

.footer_content_heading .title_bottom {
  font-size: 18rem;
  font-family: "Bazar";
  line-height: normal;
  color: #383a3c;
  position: absolute;
  top: 106px;
  left: 6px;
  z-index: -2;
  width: 100%;
  color: #f6edd8;
}

.footer_content_heading .subtitle_xxx {
  font-size: 3.4rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #f6edd8;
  position: relative;
}

.footer_content_heading .subtitle_xxx::before {
  content: "";
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #f6edd8;
}

.footer_content_heading .subtitle_xxx::after {
  content: "";
  position: absolute;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 4px;
  background-color: #f6edd8;
}

.footer_content_heading .subtitle {
  font-size: 3.2rem;
  font-family: "Oswald-Regular";
  line-height: normal;
  color: #f6edd8;
}

.footer .footer_contact_form_wrapper {
  margin: 0 auto;
  width: 960px;
  margin-bottom: 75px;
}

.footer .footer_contact_form_wrapper .contact_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer .footer_contact_form_wrapper .contact_form_field {
  font-size: 3.2rem;
  font-family: "RobotoSlab-Regular";
  line-height: normal;
  color: #a9a9a9;
  width: 100%;
  height: 75px;
  border-radius: 6px;
  border: 0;
  padding-left: 10px;
  margin-bottom: 20px;
}

.footer .footer_contact_form_wrapper .contact_form #message_field {
  height: 325px;
}

.footer .footer_contact_form_wrapper .contact_form_submit {
  font-size: 3.2rem;
  font-family: "RobotoSlab-Bold";
  line-height: normal;
  color: #383a3c;
  border: none;
  background: #fbf9f7;
  align-self: self-start;
  border-radius: 6px;
  padding: 18px 33px;
  cursor: pointer;
}

.footer .social_list_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer .social_list_wrapper .social_list_title {
  font-size: 4.8rem;
  font-family: "Bazar";
  line-height: normal;
  color: #f6edd8;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 50px;
}

.footer .social_list_wrapper .social_list_title:after {
  content: '';
  position: absolute;
  bottom: -35%;
  left: 31%;
  width: 35%;
  border-top: 3px solid #f6edd8;
}

.footer .social_list_wrapper .social_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer .social_list_wrapper .social_list .social_item {
  margin-right: 30px;
}

.footer .social_list_wrapper .social_list .social_item:last-child {
  margin-right: 0;
}

.footer .social_list_wrapper .social_list .social_link {
  display: inline-block;
  width: 160px;
  height: 160px;
  background: url("../images/social.png") repeat-x;
}

.footer .social_list_wrapper .social_list .social_link.facebook {
  background-position: top 0 left 25%;
}

.footer .social_list_wrapper .social_list .social_link.google {
  background-position: top 0 left 50%;
}

.footer .social_list_wrapper .social_list .social_link.pin {
  background-position: top 0 left 75%;
}

.footer .social_list_wrapper .social_list .social_link.in {
  background-position: top 0 right 0;
}

.footer .social_list_wrapper .social_list .social_link:hover {
  transform: scale(0.8);
  transition: .3s ease-out;
}
